/*==========================================================================
	ABOUT BLOCK
========================================================================== */
.about{
	position: relative;
	z-index: z(default);
	padding-top: 55px;
	padding-bottom: 55px;
	@include mq('desktop', 'max') {
		padding-top: 0;
		padding-bottom: 20px;
	}
	@include mq('laptop', 'max') {
		padding-top: 30px;
		.btn{
			width: 93%;
		}
	}
}
.about-block{
	display: block;
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@include mq('laptop', 'max') {
		max-width: 380px;
	}
	a{
		@include font-size(16px);
	}
	p{
		@include font-size(16px);
		@include mq('laptop', 'max') {
			padding-left: 20px;
			padding-right: 20px;
			@include font-size(12px);
			line-height: 1.2;
		}
	}
	.btn{
		margin-top: 15px;
		@include mq('desktop', 'max') {
			margin-top: 20px;
		}
		@include mq('laptop', 'max') {
			margin-top: 0;
		}
	}
}
.about-block__logo{
	width: 410px;
	height: 110px;
	margin-bottom: 20px;
	@include mq('desktop', 'max') {
		margin-bottom: 0;
	}
	@include mq('laptop', 'max') {
		width: 253px;
		height: 66px;
	}
}
/* end about block */
