/*==========================================================================
	ALLOY FRONT
========================================================================== */
.alloy-front{
	position: relative;
	width: 100%;
	height: 1105px;
	margin-top: -215px;
	margin-bottom: -30px;
	background: url('../images/alloy.png') no-repeat top center, linear-gradient(177deg, #ffffff 0, #ececec 100%);
	background-size: cover;
	@media screen and (min-width: 1921px) {
		height: 1550px;
	}
	@media screen and (max-width: 1600px) {
		height: 875px;
	}
	@include mq('desktop', 'max') {
		height: 705px;
		margin-top: -130px;
		margin-bottom: 0;
	}
	@media screen and (max-width: 1000px) {
		height: 580px;
	}
	@media screen and (max-width: 800px) {
		height: 440px;
		margin-top: -80px;
		margin-bottom: 0;
		background-size: 100%;
	}
	@include mq('tablet', 'max') {
		margin-top: -20px;
		height: 450px;
	}
	@include mq('phone', 'max') {
		height: 275px;
	}
	.container{
		position: relative;
		height: 100%;
	}
}
/* end alloy front */
