//popup
#popup-thanks.popup.popup_message
	.popup-overlay
	//container
	.popup-container
		//close
		button(type="button", data-popup='close').popup-container__close
			| Close
			i.icon.icon-close
		//content
		.popup-content
			h2.popup-content__title Благодарим за Ваш вопрос.
			p В скором будущем Ваш вопрос и ответ на него появится на сайте, а Вам на электронную почту мы отправим копию
