//-mixin for article preview
mixin article(img, title, className)
	//article
	a(href= LINKS.article, class= className).article-preview
		//image
		.article-preview-image
			// W: 299px ; H: 232px;
			img(src="uploads/" + img, alt= title)
		.article-preview-body
			.article-preview__title= title
			span.article-preview__date 12.06.2018
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.


//-mixin for article preview
mixin articleBlog(img, title, text, className)
	//article
	div( class= className).article-preview.article-preview_blog
		//image
		a(href= LINKS.article).article-preview-image
			// W: 299px ; H: 232px;
			img(src="uploads/" + img, alt= title)
		.article-preview-body
			a(href= LINKS.article).article-preview__title= title
			span.article-preview__date 12.06.2018
			p= text
			a(href= LINKS.article).btn.btn_primary.btn_full Читать в блоге
