//- link
mixin link(href,text)
	a(href= href )= text
		block
//- link item
mixin item-link(href,text)
	li
		a(href= href )= text

mixin breadcrumbs(name, href, last)
	//breadcrumbs
	ol.breadcrumbs
		- for(var i = 0; i < name.length; i++)
			li: a(href= href[i])= name[i]
		unless (last=='')
			li= last

//- sprite
include svg-sprite
//- article preview
include article-preview
//- allay block
include alloy-block
//- collapse
include collapse
