section.ui-section
	.ui-section-header
		.ui-section__title <span>5.</span>Article preview
	.ui-section-body.clearfix
		.row
			.col-sm-3
				+article(
					'article-preview-1.jpg',
					'Мы вновь открываем рафтинг-марафон, теперь уже сезона 2018'
				)
			.col-sm-3
				+article(
					'article-preview-2.jpg',
					'Мы обновили оформление наших социальных сообществ'
				)
			.col-sm-3
				+article(
					'article-preview-3.jpg',
					'Мы открыли собственный канал на Ю-Тубе!'
				)
			.col-sm-3
				+article(
					'article-preview-4.jpg',
					'Мы запустили свой собственный сайт'
				)
			.col-sm-3
				+article(
					'article-preview-5.jpg',
					'Нашему инструктору исполнилось 25 лет! Поздравляем именинника!'
				)
			.col-sm-3
				+article(
					'article-preview-6.jpg',
					'В наступающем году мы приготовили для наших гостей массу интересного!'
				)
			.col-sm-3
				+article(
					'article-preview-7.jpg',
					'Для сезона 2018 мы приобреди новые рафты! '
				)
			.col-sm-3
				+article(
					'article-preview-8.jpg',
					'Поездка в Горный Алтай: где отдохнуть и что посмотреть '
				)
	.ui-section-footer.clearfix
		pre.
			//article
			a(href="#").article-preview
				//image
				.article-preview-image
					// W: 299px ; H: 232px;
					img(src="uploads/article-preview-1.jpg", alt="Мы вновь открываем рафтинг-марафон, теперь уже сезона 2018")
				.article-preview-body
					.article-preview__title Мы вновь открываем рафтинг-марафон, теперь уже сезона 2018
					data.article-preview__data 12.06.2018
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
		pre.
			MIXIN:
		pre.
			+article(
				'article-preview-8.jpg',
				'Поездка в Горный Алтай: где отдохнуть и что посмотреть '
			)
		
