section.ui-section
	.ui-section-header
		.ui-section__title <span>7.</span>Collapse
	.ui-section-body.clearfix
		//- collapse(title, text)
		+collapse(
			'Есть ли какие-то ограничения на участие в рафтинге?',
			'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
		)
		//- collapse(title, text)
		+collapse(
			'Можно ли брать с собой детей?',
			'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
		)
		//- collapse(title, text)
		+collapse(
			'Мешает ли рафтингу плохая погода (дождь и т.п.)?',
			'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
		)
		//- collapse(title, text)
		+collapse(
			'На рафтинге будет очень холодно?',
			'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
		)
		//- collapse(title, text)
		+collapse(
			'Как проходит рафтинг?',
			'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
		)
		//- collapse(title, text)
		+collapse(
			'На чем будем сплавляться?',
			'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
		)
	.ui-section-footer.clearfix
		pre.
			//-collapse
			.collapse
				.collapse-header.collapse-header_clicked Есть ли какие-то ограничения на участие в рафтинге?
				.collapse-body.collapse-body_active
					p При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.
		pre.
			MIXIN
		pre.
			//- collapse(title, text)
			+collapse(
				'Есть ли какие-то ограничения на участие в рафтинге?',
				'При заболеваниях сердечно-сосудистой системы, почечной недостаточности и других опасных и острых заболеваниях — участие в рафтинге не рекомендуется. Также желательно уметь плавать, однако это не обязательно при условии, что вы заранее предупредите своего инструктора. О чем-либо, что может вызвать или обострить проблемы со здоровьем надо заранее сообщить организаторам.'
			)
