section.ui-section
	.ui-section-header
		.ui-section__title <span>8.</span>INFO BLOCK
	.ui-section-body.clearfix
		.info-block
			p Мы молоды, энергичны, открыты для общения и живем в самом лучшем месте на планете!
			a(href="#", class="btn btn_secondary") Подробнее 
	.ui-section-footer.clearfix
		pre.
			.info-block
				p Мы молоды, энергичны, открыты для общения и живем в самом лучшем месте на планете!
				a(href="#", class="btn btn_secondary") Подробнее 
