/*==========================================================================
	 COLLAPSE
	 ========================================================================== */
.collapse{
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	transition: .3s ease;
	&:not(:last-child) {
		border-bottom: 1px dotted $color-main-darken;
	}
}
.collapse-header{
	position: relative;
	display: block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	@include font-size(24px);
	color: $color-main-darken;
	font-weight: 600	;
	text-transform: uppercase;
	cursor: pointer;
	@include mq('tablet', 'max') {
		padding-top: 10px;
		padding-bottom: 10px;
		@include font-size(18px);
		line-height: 1;
	}
	&:after{
		content: '';
		position: absolute;
		z-index: z(default);
		top: 50%;
		right: 10px;
		display: block;
		width: 24px;
		height: 24px;
		background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cstyle%3E.st0%7Bfill%3A%23d0021b%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22path0_stroke_1_%22%20class%3D%22st0%22%20d%3D%22M23.7%207.9c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200l1.4%201.4zM12%2019l-.7.7c.2.2.5.3.7.3s.5-.1.7-.3L12%2019zM1.7%206.6c-.4-.4-1-.4-1.4%200-.4.4-.4%201%200%201.4l1.4-1.4zm20.6%200l-11%2011.7%201.5%201.4L23.8%208l-1.5-1.4zm-9.6%2011.7L1.7%206.6.3%207.9l11%2011.7%201.4-1.3z%22%2F%3E%3Cpath%20id%3D%22path0_stroke%22%20class%3D%22st0%22%20d%3D%22M23.7%201.6c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200l1.4%201.4zM12%2012.7l-.7.7c.2.2.5.3.7.3s.5-.1.7-.3l-.7-.7zM1.7.3C1.3-.1.7-.1.3.3c-.4.4-.4%201%200%201.4L1.7.3zm20.6%200L11.3%2012l1.5%201.4%2011-11.7L22.3.3zM12.7%2012L1.7.3.3%201.6l11%2011.7%201.4-1.3z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		background-size: 100%;
		transform: translateY(-50%) rotate(0);
		transition: .3s ease;
	}
}
.collapse-header_clicked{
	&:after{
		transform: translateY(-50%) rotate(180deg);
		transition: .3s ease;
	}
}
.collapse-body{
	position: relative;
	display: none;
	width: 100%;
	p{
		margin: 0;
		@include font-size(16px);
		line-height: 1.4;
		@include mq('tablet', 'max') {
			@include font-size(12px);
			line-height: 1.2;
		}
	}
}
.collapse-body_active{
	padding-bottom: 20px;
}
.collapse-list{
	padding-top: 25px;
	padding-left: 100px;
	padding-right: 70px;
	@include mq('desktop-max', 'max') {
		padding-top: 10px;
		padding-right: 50px;
	}
	@include mq('laptop', 'max') {
		padding-right: 0px;
		padding-left: 10px;
	}
	@include mq('tablet', 'max') {
		padding-top: 0;
	}
}
/* end collapse */
