/*==========================================================================
	 COVER
	 ========================================================================== */
.cover{
	position: relative;
	z-index: -1;
	display: block;
	width: 100%;
	height: 560px;
	margin-bottom: -235px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	@include mq('desktop-max', 'max') {
		height: 400px;
		margin-bottom: -160px;
	}
	@include mq('desktop', 'max') {
		height: 470px;
		margin-bottom: -225px;
	}
	@include mq('laptop', 'max') {
		height: 180px;
		margin-bottom: -42px;
	}
	&:after{
		content: '';
		position: absolute;
		z-index: z(default);
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		margin: 0 auto;
		height: 400px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 7.11%, rgba(255, 255, 255, 0.608927) 41.62%, #FFFFFF 84.03%);
		@include mq('desktop-max', 'max') {
			height: 280px;
		}
		@include mq('desktop', 'max') {
			height: 350px;
		}
		@include mq('laptop', 'max') {
			height: 100px;
		}
	}
}

/* end cover */
