/*==========================================================================
	 DATE FILTER
	 ========================================================================== */

.date-filter{
	position: relative;
	display: block;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 40px;
	//flex
	display: flex;
	align-items: center;
	justify-content: center;
	@include mq('desktop', 'max') {
		padding-bottom: 30px;
		flex-direction: column;
	}
	@include mq('laptop', 'max') {
		display: inline-block;
		width: auto;
		text-align: center;
		padding-top: 0;
		padding-bottom: 0px;
		margin-bottom: 20px;
		z-index: 17;
	}
	@include mq('tablet', 'max') {
		padding-top: 10px;
	}
}
.date-filter__label{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	font-weight: 600;
	@include font-size(18px);
	@include mq('desktop', 'max') {
		margin-right: 0;
		margin-bottom: 30px;
	}
	@include mq('laptop', 'max') {
		margin-bottom: 10px;
	}
	@include mq('tablet', 'max') {
		@include font-size(14px);
	}
}
.date-filter-list{
	display: inline-block;
	vertical-align: middle;
	@include mq('laptop', 'max') {
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
		background-color: $color-main-lighten;
		&.open{
			display: block;
		}
	}
}
.date-filter-list__item{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 156px;
	padding-top: 18px;
	padding-bottom: 18px;
	@include font-size(13px);
	color: $color-main;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	border: 1px solid $color-main-darken;
	cursor: pointer;
	@include mq('laptop', 'max') {
		width: 100%;
		color: #fff;
		border-color: transparent;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 10px;
			right: 10px;
			display: block;
			height: 1px;
			background-color: $color-main;
		}
		&:active{
			background-color: $color-main-darken;
		}
	}
	&:not(:last-child) {
		margin-right: 15px;
		@include mq('laptop', 'max') {
			margin: 0;
		}
	}
}
.date-filter-list__item_active{
	color: $color-secondary;
	background-color: $color-main;
	@include mq('laptop', 'max') {
		display: none;
	}
}
.date-filter__button{
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 280px;
	height: 50px;
	line-height: 50px;
	@extend %buttonNull;
	@include font-size(13px);
	font-weight: 500;
	color: $color-secondary;
	background-color: $color-main;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	&.clicked{
		background-color: $color-main-lighten;
		&:after{
			transform: translateY(-50%) rotate(180deg);
			transition: .3s;
		}
	}
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: 15px;
		display: block;
		width: 20px;
		height: 11px;
		background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2041.1%2023%22%3E%3Cstyle%3E.st0%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22path0_stroke%22%20class%3D%22st0%22%20d%3D%22M22.3%2018.8c1%201%201%202.6%200%203.5-1%201-2.6%201-3.5%200l3.5-3.5zM.8%204.3c-1-1-1-2.6%200-3.5s2.6-1%203.5%200L.8%204.3zm18%2018l-18-18L4.3.8l18%2018-3.5%203.5z%22%2F%3E%3Cpath%20id%3D%22path1_stroke%22%20class%3D%22st0%22%20d%3D%22M40.3%204.3c1-1%201-2.6%200-3.5-1-1-2.6-1-3.5%200l3.5%203.5zM18.8%2018.8c-1%201-1%202.6%200%203.5%201%201%202.6%201%203.5%200l-3.5-3.5zM36.8.7l-18%2018%203.5%203.5%2018-18L36.8.7z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		transform: translateY(-50%) rotate(0);
		transition: .3s;
	}
	@include mq('laptop') {
		display: none;
	}
}
/* end date filter */
