/* ==========================================================================
	 HEADER
	 ===========================================================================*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: z(header);
	display: block;
	width: 100%;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 30px;
	padding-right: 30px;
	background: rgba(0, 0, 0, 0.4);
	@include clearfix();
	@include mq('desktop-max', 'max') {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include mq('desktop', 'max') {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 0;
		padding-left: 0;
	}
	@include mq('laptop', 'max') {
		padding-top: 13px;
		padding-bottom: 13px;
	}
	div[class*="container"] {
		@include mq('laptop') {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.logo{
	display: block;
	float: left;
	width: 233px;
	height: 62px;
	font-size: 0;
	color: transparent;
	@include mq('desktop-max', 'max') {
		width: 163px;
		height: 44px;
	}
	@include mq('laptop', 'max') {
		width: 134px;
		height: 35px;
	}
}
/* MENU */
.menu{
	display: block;
	float: left;
	margin-left: 10px;
	margin-right: 40px;
	@include mq('desktop-max', 'max') {
		margin-right: 10px;
	}
	@include mq('laptop', 'max') {
		position: fixed;
		z-index: z(menu);
		top:0;
		left: 0;
		width: 100%;
		max-width: 320px;
		height: 100%;
		margin: 0;
		padding-top: 38px;
		padding-left: 10px;
		padding-right: 10px;
		float: none;
		display: block;
		background-color: $color-gray-light;
		overflow-y: auto;
		transform: translateX(-100%);
		transition: .3s;
		&.menu_open{
			transform: translateX(0);
			transition: .3s;
		}
	}
	> ul{
		> li {
			@include mq('laptop', 'max') {
				&:active{
					background-color: darken($color-gray-light, 10%);
				}
			}
			&:not(:last-child) {
				border-right: 1px solid #fff;
				@include mq('laptop', 'max') {
					border-right: 0;
					border-bottom: 1px solid #fff;
				}
			}
			&.active{
				> a {
					&:not(:only-child){
						&:after{
							transform: translateY(-70%) rotate(180deg);
							transition: .3s;
						}
					}
				}
				&:active{
					background-color:transparent;
				}
			}
			> a{
				position: relative;
				padding-left: 60px;
				padding-right: 60px;
				z-index: 2;
				@include mq('desktop-max', 'max') {
					padding-left: 30px;
					padding-right: 30px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
				@include mq('desktop', 'max') {
					padding-left: 18px;
					padding-right: 18px;
				}
				@include mq('laptop', 'max') {
					padding-left: 40px;
					padding-right: 40px;
					padding-top: 20px;
					padding-bottom: 20px;
					@include font-size(24px);
				}
				&:not(:only-child){
					&:after{
						content: '';
						position: absolute;
						z-index: z(default);
						top: 50%;
						right: 20px;
						display: block;
						width: 12px;
						height: 10px;
						background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2041.1%2023%22%3E%3Cstyle%3E.st0%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22path0_stroke%22%20class%3D%22st0%22%20d%3D%22M22.3%2018.8c1%201%201%202.6%200%203.5-1%201-2.6%201-3.5%200l3.5-3.5zM.8%204.3c-1-1-1-2.6%200-3.5s2.6-1%203.5%200L.8%204.3zm18%2018l-18-18L4.3.8l18%2018-3.5%203.5z%22%2F%3E%3Cpath%20id%3D%22path1_stroke%22%20class%3D%22st0%22%20d%3D%22M40.3%204.3c1-1%201-2.6%200-3.5-1-1-2.6-1-3.5%200l3.5%203.5zM18.8%2018.8c-1%201-1%202.6%200%203.5%201%201%202.6%201%203.5%200l-3.5-3.5zM36.8.7l-18%2018%203.5%203.5%2018-18L36.8.7z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
						background-size: 100%;
						transform: translateY(-50%);
						transition: .3s;
						@include mq('desktop-max', 'max') {
							right: 12px;
							width: 9px;
							height: 8px;
						}
						@include mq('desktop', 'max') {
							right: 5px;
						}
						@include mq('laptop', 'max') {
							width: 18px;
							height: 9px;
						}
					}
				}
			}
		}
	}
	li{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		@include mq('laptop', 'max') {
			display: block;
			text-align: center;
		}
		&:hover{
			.submenu{
				@include mq('laptop') {
					display: block;
				}
			}
		}
		a{
			display: inline-block;
			padding-top: 18px;
			padding-bottom: 18px;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			@include mq('laptop', 'max') {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
.menu__toggle{
	@include mq('laptop') {
		display: none;
	}
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	max-height: 70px;
	font-size: 0;
	background-color: transparent;
}
/* SUBMENU */
.submenu{
	@include mq('laptop') {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: z(default);
		display: none;
		padding-top: 50px;
		background: rgba(#696969, .3);
	}
	@include mq('laptop', 'max') {
		display: none;
	}
	li{
		display: block;
		a{
			display: block;
			padding-left: 8px;
			padding-right: 8px;
			text-align: center;
			transition: .3s;
			&:hover{
				@include mq('laptop') {
					background: rgba(#696969, .3);
					transition: .3s;
				}
			}
			&:active{
				@include mq('laptop', 'max') {
					background: rgba(#696969, .3);
					transition: .3s;
				}
			}
		}
	}
}
/* CONTACTS */
.header-contacts{
	display: block;
	float: right;
	max-width: 210px;
	color:#fff;
	@include mq('desktop', 'max') {
		max-width: 140px;
		text-align: center;
	}
	@include mq('laptop', 'max') {
		max-width: none;
	}
	@include mq('tablet', 'max') {
		margin-top: 3px;
		margin-right: 5px;
	}
}
.header-contacts-list{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	margin-right: 14px;
	@include mq('desktop', 'max') {
		width: 100%;
	}
	@include mq('laptop', 'max') {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
	@include mq('tablet', 'max') {
		margin-right: 0;
	}
}
.header-contacts__phone{
	display: block;
	@include font-size(17px);
	font-weight: 600;
	text-align: right;
	@include mq('laptop', 'max') {
		line-height: 1;
	}
	@include mq('tablet', 'max') {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		width: 27px;
		height: 27px;
		margin-right: 20px;
		background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cstyle%3E.st0%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22path0_stroke%22%20class%3D%22st0%22%20d%3D%22M8.7%206.1l.4-.3c-.1-.1-.2-.2-.3-.2-.1%200-.3%200-.4.1l.3.4zM6.4%208.2l-.3-.4.3.4zm13.4%2013.4l.4.4-.4-.4zm2.1-2.3l.4.3c.1-.1.1-.2.1-.4%200-.1-.1-.3-.2-.3l-.3.4zm-3.6-3.2l.3-.4c-.2-.1-.4-.2-.6-.1l.3.5zm-2.9%201.5l-.4.4c.2.2.4.2.6.1l-.2-.5zm-5-5l-.4-.3c-.1.2-.1.4.1.6l.3-.3zm1.5-2.9l.4.2c.1-.2.1-.4-.1-.6l-.3.4zm-3.5-4L6.1%207.8l.7.7%202.3-2.1-.7-.7zM6.1%207.8c-.5.5-.6%201.1-.4%201.7.1.6.4%201.4.8%202.2.9%201.6%202.4%203.5%204.3%205.4l.7-.7c-1.8-1.8-3.3-3.7-4.1-5.2-.4-.7-.7-1.3-.8-1.8-.1-.5%200-.7.1-.8l-.6-.8zm4.7%209.3c1.9%201.9%203.8%203.4%205.5%204.3.8.5%201.6.8%202.2.9.6.1%201.3.1%201.7-.4l-.7-.7c-.1.1-.3.2-.8.1s-1.2-.4-1.9-.8c-1.5-.9-3.4-2.3-5.2-4.1l-.8.7zm9.4%204.9l2.1-2.4-.7-.7-2.1%202.4.7.7zm2-3.1l-3.6-3.1-.6.7%203.6%203.1.6-.7zm-4.1-3.2l-2.9%201.4.4.9%202.9-1.4-.4-.9zm-2.3%201.5l-5-5-.7.7%205%205%20.7-.7zm-4.9-4.4l1.4-2.9-.9-.4-1.4%202.8.9.5zm1.3-3.5L9.1%205.8l-.7.6%203.1%203.6.7-.7z%22%2F%3E%3Cpath%20id%3D%22path1_stroke%22%20class%3D%22st0%22%20d%3D%22M26.1%2019.4c-.1.3%200%20.5.2.7.3.1.5%200%20.7-.2l-.9-.5zm-4.8%206l-.3-.5.3.5zm.3-4.9c-.2-.2-.5-.2-.7%200-.2.2-.2.5%200%20.7l.7-.7zm5.4-.7c.8-1.8%201-3.8%201-5.8h-1c0%202-.1%203.8-.9%205.4l.9.4zm1-5.8c0-7.7-6.3-14-14-14v1c7.2%200%2013%205.8%2013%2013h1zM14%200C6.3%200%200%206.3%200%2014h1C1%206.8%206.8%201%2014%201V0zM0%2014c0%207.7%206.3%2014%2014%2014v-1C6.8%2027%201%2021.2%201%2014H0zm14%2014c2.8%200%205.4-.8%207.5-2.2l-.5-.9c-2%201.3-4.4%202.1-7%202.1v1zm7.3-2.6l.2.4s.1%200%20.1-.1c.1-.1.2-.1.3-.2.3-.2.6-.6.8-1%20.2-.5.3-1.1.2-1.7-.2-.7-.6-1.4-1.3-2.2l-.7.7c.7.7%201%201.3%201.1%201.8.1.5%200%20.8-.1%201.1-.1.3-.3.5-.5.7-.1.1-.2.1-.2.2h-.1c-.1-.2-.1-.2.2.3z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		background-size: 100%;
	}
	@include mq('tablet', 'max') {
		margin-right: 15px;
	}
}
.header-contacts__email{
	display: block;
	@include font-size(11px);
	font-weight: 300;
	letter-spacing: 1px;
	text-align: right;
	@include mq('desktop', 'max') {
		letter-spacing: 0.5px;
	}
	@include mq('laptop', 'max') {
		line-height: 1;
	}
	@include mq('tablet', 'max') {
		display: none;
	}
}

/* SWIPE PANEL */
#panelswipe{
	position: fixed;
	z-index: z(menu);
	top: 0;
	left: 0;
	width: 15px;
	height: 100%;
	background-color: transparent;
}
/* end header */
