/* ==========================================================================
	 POPUP
	 ===========================================================================*/
/* POPUP STYLES */
.popup{
	position: fixed;
	z-index: z(popup);
	left: 0;
	right: 0;
	top: -70px;
	// padding-bottom: 70px;
	display: flex;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	transform:translateY(70px);
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}
//open
.popup_open{
	pointer-events:auto;
	visibility: visible;
	opacity: 1;
	transition: .3s;//?
	.popup-overlay{
		visibility: visible;
		opacity: 1;
		transition: .3s;//?
	}
	.popup-container{
		opacity: 1;
		transform: scale(1);
		transition: .3s;//?
	}
}
/* OVERLAY */
.popup-overlay{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(25, 18, 12, 0.3);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
/* SOME CONTAINER */
.popup-container{
	position: relative;
	z-index: 2;
	display: block;
	width: 97%;
	max-width: 847px;
	height: auto;
	min-height: 100px;
	max-height: 100%;
	margin: auto;
	background: #F0F0F0;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: scale(0.7);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
/* CLOSE */
.popup-container__close{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: z(default);
	width: 25px;
	height: 25px;
	padding: 0;
	font-size: 0;
	border: 0;
	background: transparent;
	&:focus{
		outline: none;
		color: $color-main-darken;
	}
	&:hover{
		color: $color-main;
	}
}
/* CONTENT */
.popup-content{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 55px;
	padding-bottom: 55px;
	@include mq('laptop', 'max') {
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include mq('tablet', 'max') {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	@include mq('tablet-small', 'max') {
		padding-right: 10px;
		padding-left: 10px;
	}
}
.popup-content__title{
	margin: 0 auto 45px;
	color: #000000;
	@include font-size(36px);
	font-weight: 600;
	text-align: center;
	@include mq('tablet', 'max') {
		@include font-size(18px);
		margin-bottom: 10px;
	}
}

/* MESSAGE */
.popup_message{
	.popup-container{
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 483px;
		@include mq('tablet', 'max') {
			min-height: 250px;
		}
	}
	.popup-content{
		>p{
			max-width: 560px;
			width: 100%;
			margin: 0 auto;
			@include font-size(24px);
			line-height: 1.2;
			color: #000;
			font-weight: 400;
			text-align: center;
			@include mq('laptop', 'max') {
				@include font-size(18px);
			}
			@include mq('tablet', 'max') {
				@include font-size(14px);
			}
		}
	}
}

/* end popup */
