//list
.stock-list
	//item
	.stock-list-item
		//image
		.stock-list-item-image
			img(src="uploads/stock-1.jpg", alt="Сплав людей")
		//content
		.stock-list-item-content
			h3.h3.stock-list-item-content__title Скидка на коллективный заказ от 12 человек
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
			a(href="#").btn.btn_primary.btn_long Узнать подробнее
	//item
	.stock-list-item
		//image
		.stock-list-item-image
			img(src="uploads/stock-2.jpg", alt="У берега")
		//content
		.stock-list-item-content
			h3.h3.stock-list-item-content__title Скидка за каждого приведенного человека
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
			a(href="#").btn.btn_primary.btn_long Узнать подробнее
