.container.container_smaller
	img(src="uploads/article-1.jpg", alt="ГЭС на реке")
	p В 20-х годах 20-го века территория Чемальского района была широко известна как целебное курортное место. Сюда приезжали на отдых и оздоровление члены правительства страны, и на месте сегодняшнего санатория, на горе Бешпек, было решено построить для них горно-климатическую станцию закрытого типа. Здесь отдыхал высший состав руководства СССР - Вячеслав Молотов, Роберт Эйхе, Станислав Косиор, Михаил Калинин и многие, многие другие. Для развития региона, в роли своеобразного цивилизатора, с большими полномочиями сюда была направлена Калинина Екатерина Ивановна, жена Председателя ВЦИК СССР М.И.Калинина.
	p С ее приездом связано появление в Чемале первых крупорушек, маслобоек, колбасного производства, строительство ледников - погребов с использованием и длительным хранением льда, обучение домоводству, огородничеству, садоводству, ягодничеству, пчеловодству, животноводству, первые трактора и другая механика, тепличное хозяйство. И сегодня эксплуатируются капитальные строения, построенные под руководством Е.И.Калининой - например, здание РОВД, гаражи районной администрации (бывшая конюховка). Е.И.Калинина превратила Чемал в самодостаточный развитый культурный поселок. Но было одно заметное отставание - керосиновые лампы и полное отсутствие электроэнергии.
	p В один из приездов М.И.Калинина, Екатерина Ивановна предложила построить на реке Чемал гидроэлектростанцию. Предложение было принято. Немедленно в Чемал была направлена экспедиция для исследования местности. Лично Серго Ордженикидзе, руководитель тяжелой промышленности СССР, выбрал готовый проект. Ленинградскому гидропроектному институту была поручена привязка проекта к местности. Для этой цели в Чемал приезжал старший сын Ордженикидзе Валериан, сотрудник гидропроектного института. Все сделано было очень быстро - от высказывания идеи о строительстве до контрольного пуска готовой электростанции прошло всего два года.
	img(src="uploads/article-2.jpg", alt="Хижина у деревни")
	p В качестве рабочей силы использовался контингент заключенных в количестве 600 человек и местное население с конно-тягловой силой. По спецзаказу на сталинградском заводе были изготовлены две турбины. На харьковском электро-механическом заводе изготовили электрогенераторы. Первая очередь Чемальской ГЭС была запущена в 1935 году. В Чемале загорелись первые электролампы. К 1936 году построили электролинию до Усть-Семы и обеспечили электроосвещение Элекмонара, Узнези, Чепоша и Усть-Семы. Мощность станции была менее 500 кВт (2 генератора с мощностью 230 кВт и 270 кВт, но использовался обычно один генератор, а второй оставался в резерве). Вырабатываемой электроэнергией пользовался близлежащий санаторий и несколько жилых домов на его территории.
	p На возвышенности села Чемал установлено колесо обозрения с которого открываются панорамные виды на устье Чемалки и саму ГЭС:. Эксплуатация Чемальской ГЭС было прекращено в 2011 году в результате затопления некоторых узлов. После анализа комиссии было принято решение о нецелесообразности восстановления работоспособности ГЭС. Сейчас она работает в режиме свободного сброса и служит туристической достопримечательностью.Однако осталась в рабочем состоянии одна турбина, которую можно запускать для показа экскурсантам. Запустить на короткое время, чтобы показать принцип ее работы. Но по настоящему Чемальская ГЭС уже не будет работать никогда. Символ Чемальского района, ГЭС построенная в 1935 году силами заключенных ГУЛАГа, закончила свое существование в 2011 году, проработав 75 лет
	p В 2014 году эти места подверглись мощному подтоплению. Наводнение было очень мощное, следы которого видны по сей день. Вода вымыла огромное количество грунта. Перед водосбросом до сих пор груды прибившего мусора и леса. Несмотря на весь этот мусор здесь очень красиво. Обратите внимание на здание станции. Где-то на уровне окон видны разводы от уровня поднявшейся воды в 2014 году.
.gallery
	h2.h2 Места здесь очень живописные
	.gallery-list.js-gallery
		//- item
		a(href="uploads/gallery-9.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-9-sm.jpg", alt="ГЭС")
		//- item
		a(href="uploads/gallery-10.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-10-sm.jpg", alt="Горы и река")
		//- item
		a(href="uploads/gallery-11.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-11-sm.jpg", alt="Фотография снизу")
		//- item
		a(href="uploads/gallery-12.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-12-sm.jpg", alt="Работники на ГЭС")
		//- item
		a(href="uploads/gallery-13.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-13-sm.jpg", alt="красивые пейзажи")
		//- item
		a(href="uploads/gallery-14.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-14-sm.jpg", alt="Веселые люди")
		//- item
		a(href="uploads/gallery-15.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-15-sm.jpg", alt="Работа у ГЭС")
		//- item
		a(href="uploads/gallery-16.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-16-sm.jpg", alt="Пешеходный мост через реку")
.container.container_smaller
	p Как я уже сказал, сейчас это туристическая достопримечательность. От наводнения на Алтае в 2014 году пострадали не только здания и имущество, но и коммуникации связи. Компания Ростелеком, по приглашению которой я и прилетел на Алтай устраняла последствия наводнения в аварийном режиме. Информация по разрушениям. Сейчас все восстановлено и течет своим чередом. Проделана колосальная работа. Рядом с ГЭС через Чемалку перекинут подвесной мост:Мост раскачивается и идти по нему немного страшновато. На берегах очень фотогенично. Места здесь замечательные. Вид с моста. Тропника от моста ведет на горную козью тропу вдоль реки Катунь. Тропа местами очень узкая вдоль скал. Сразу вспомнил историю, как я чуть не сорвался с подобной тропы в Италии на маршруте Монтероссо-Вернацца. По этой тропе мы дошли до еще одной достопримечательности Чемала - острова Патмос. 
	p Но это уже совсем другая история.... <br/> На этом все! 
