//- layout/page.pug
extends layouts/singlepage.pug

block variables
	- var title = TITLE.alloys;
	- var coverImg = 'alloys';
	- var coverAlt = 'Сплав по реке';
	- var classFooter  = '';
	
//- content
block breadcrumbs

//- content
block title-page
	.container
		h1.h1.h1_page Сплавы
		p.title-desription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
		//title links
		ul.title-links
			li: a(href="#calendar", class="scroll")
				+icon('calendar')
				span Календарь сплавов
			li: a(href="#weather", class="scroll")
				+icon('weather')
				span Погодная карта

//- content
block content
	include global/alloys
	include global/calendar
	include global/weather
	include global/chose



//- sections
block sections

//-popups
block popups

//- scripts
block scripts
	include global/script-calendar
