//- layout/page.pug
extends layouts/singlepage.pug

block variables
	- var title = TITLE.news;
	- var coverImg = 'news';
	- var coverAlt = 'Горы Алтая';

//- content
block breadcrumbs
	//- (list, last)
	+breadcrumbs(
		['Главная'],
		['./'],
		'О нас'
	)

//- content
block title-page
	.container
		h1.h1.h1_page Наши новости
		p.title-desription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.

//- content
block content
	include pages/news/news-list


//- sections
block sections
	include global/social-blocks

//-popups
block popups

//- scripts
block scripts
