/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"]{
	//position
	position: relative;
	z-index: z(button);
	//box mmodel
	display: inline-block;
	vertical-align: middle;
	padding: btn(padding);
	min-width: btn(min-width);
	max-width: btn(max-width);
	height: btn(height);
	//font
	font-family: btn(font-family);
	@include font-size(btn(font-size));
	line-height: btn(line-height);
	font-weight: btn(font-weight);
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: uppercase;
	letter-spacing: 3px;
	// other
	overflow: hidden;
	border-radius: btn(border-radius);
	cursor: pointer;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: inherit;

	transition: all .3s ease;
	&:focus{
		outline:none;
	}
	&:hover{
		cursor: pointer;
	}
	&.btn_full{
		width: 100%;
		min-width: 0;
	}
	&.btn_long{
		@include mq('phone') {
			min-width: 340px;
		}
	}
	&.btn_big{
		@include mq('desktop') {
			letter-spacing: 8px;
			height: 80px;
			line-height: 78px;
		}
		@include mq('laptop') {
			padding: 0 40px;
			@include font-size(24px);
			letter-spacing: 6px;
		}
		@include mq('tablet','max') {
			width: 100%;
			max-width: 90%;
			font-size: 11px;
			letter-spacing: 0;
			height: 33px;
			line-height: 31px;
		}
	}
}
/* disabled styles */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .25;
	filter: alpha(opacity=25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
button[type="button"]{
	cursor: pointer;
}

/* PRIMARY */
.btn_primary{
	color: $btn-primary-color;
	background-color: $btn-primary-bg;
	border: $btn-primary-border;
	&:hover{
		color: $btn-primary-colorHover;
		border: $btn-primary-borderHover;
		background-color: $btn-primary-bgHover;
	}
	&:active{
		color: $btn-primary-colorActive;
		border: $btn-primary-borderActive;
		background-color: $btn-primary-bgActive;
	}
	&:focus{
		color: $btn-primary-colorFocus;
		border: $btn-primary-borderFocus;
		background-color: $btn-primary-bgFocus;
	}
}
/* PRIMARY */
.btn_primary-red{
	color: #fff;
	background-color: $color-main-darken;
	border: 1px solid $color-main-darken;
	&:hover{
		color: $color-main-darken;
		border: 1px solid $color-main-darken;
		background-color: #fff;
	}
	&:active{
		color: $btn-primary-colorActive;
		border: $btn-primary-borderActive;
		background-color: $btn-primary-bgActive;
	}
	&:focus{
		color: $btn-primary-colorFocus;
		border: $btn-primary-borderFocus;
		background-color: $btn-primary-bgFocus;
	}
}

/* SECONDARY */
.btn_secondary{
	color: $btn-secondary-color;
	background-color: $btn-secondary-bg;
	border: $btn-secondary-border;
	&:hover{
		color: $btn-secondary-colorHover;
		border: $btn-secondary-borderHover;
		background-color: $btn-secondary-bgHover;
	}
	&:active{
		color: $btn-secondary-colorActive;
		border: $btn-secondary-borderActive;
		background-color: $btn-secondary-bgActive;
	}
	&:focus{
		color: $btn-secondary-colorFocus;
		border: $btn-secondary-borderFocus;
		background-color: $btn-secondary-bgFocus;
	}
}
.btn_center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Button email */
.btn-email{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	font-size: 0;
	@extend %buttonNull;
	.icon{
		width: 40px;
		height: 25px;
		@include mq('tablet', 'max') {
			width: 27px;
			height: 20px;
		}
	}
}
.btn-email_header{
	@include mq('desktop', 'max') {
		margin-top: 7px;
	}
	@include mq('laptop', 'max') {
		margin-top: 0;
	}
}
.btn-email_footer{
	position: absolute;
	z-index: 3;
	top: 50%;
	right:15px;
	z-index: z(default);
	transform: translateY(-50%);
	@include mq('tablet') {
		display: none;
	}
}
/* Button menu */
.btn-menu{
	position: relative;
	font-size: 0;
	color: #fff;
	@extend %buttonNull;
	.icon{
		width: 20px;
		height: 20px;
	}
}
.btn-menu_header{
	margin-top: 7px;
	margin-left: 26px;
	@include mq('laptop') {
		display: none;
	}
}
.btn-menu_footer{
	@include mq('tablet') {
		display: none;
	}
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 20px;
	z-index: z(default);
	transform: translateY(-50%);
}
/* Button close */
.btn-close{
	position: relative;
	font-size: 0;
	@extend %buttonNull;
}
.btn-close_menu{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	z-index: z(default);
	@include mq('laptop') {
		display: none;
	}
}
.icon-close{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	width: 25px;
	height: 25px;
	padding: 0;
	color:currentColor;
	text-align: center;
	transform:translateY(-50%);
	&::after,
	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		right: 0;
		height: 2px;
		display: block;
		margin: 0 auto;
		background: currentColor;
		transform:translateY(-50%);
	}
	&::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

/* CALENDAR  BUTTON */
.btn-calendar{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	right: 15px;
	font-size: 0;
	width: 22px;
	height: 22px;
	color: #000;
	transform: translateY(-50%);
	@extend %buttonNull;
	.icon{
		width: 100%;
		height: 100%;
	}
}
/* LIST BUTTONS ON 404 page */
.list-buttons{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include mq('desktop-max', 'max') {
		margin-bottom: 100px;
	}
	@include mq('tablet', 'max') {
		margin-bottom: 70px;
		flex-direction: column;
	}
	.btn{
		min-width: 0;
		width: 360px;
		&:first-child{
			@include mq('tablet') {
				margin: 10px;
			}
		}
		&:last-child{
			@include mq('tablet') {
				margin-left: 10px;
			}
		}
		&:not(:last-child) {
			@include mq('tablet', 'max') {
				margin-bottom: 10px;
			}
		}
	}
}
/* end buttons*/
