mixin review(img, name, city, text)
	//item
	.reviews-list-item
		.reviews-list-item__image
			img(src='uploads/' + img, alt= name + city)
		.reviews-list-item__name= name
			span= city
		p= text



.row.reviews-list
	.col-sm-4
		//- review
		+review(
			'review1.jpg',
			'Константин,',
			'(г.Новокузнецк)',
			'Нам очень понравилось КАТУНЬ хозяюшка спасибо за отдых'
		)
	.col-sm-4
		//- review
		+review(
			'review2.jpg',
			'Сергей,',
			'(г.Горно-Алтайск)',
			'Спасибо от нашей компании за гостеприимство, отзывчивость и вообще... Ну вы поняли!!!)))'
		)
	.col-sm-4
		//- review
		+review(
			'review3.jpg',
			'Анастасия,',
			'(г.Набережные челны)',
			'Безумно понравился сплав, спасибо инструктору Ивану, мы нашей дружной компанией все отметили,что на следующий год на сплав - обязательно с ним! Спасибо ещё раз!'
		)
