//social blocks
section.social-blocks
	.container
		h2.h2 Наши социальные сообщества
		.social-blocks-list.row
			.col-sm-6.col-lg-3
				.social-blocks-item
					//302px x 413px
					img(src="uploads/social-block-1.png", alt="vk")
			.col-sm-6.col-lg-3
				.social-blocks-item
					//302px x 413px
					img(src="uploads/social-block-2.png", alt="facebook")
			.col-sm-6.col-lg-3
				.social-blocks-item
					//302px x 413px
					img(src="uploads/social-block-3.png", alt="instagram")
			.col-sm-6.col-lg-3
				.social-blocks-item
					//302px x 413px
					img(src="uploads/social-block-4.png", alt="ok")
	
