mixin alloyItem(icon, title)
	//item
	.alloys-items-item
		.alloys-items-item__image
			img(src="images/" + icon + ".svg", alt= title, class="icon-" + icon)
		p= title

//items
section.alloys-items
	.container
		.h2.alloys-items__title Включено в сплав:
		//list
		.alloys-items-list.js-alloy-items
			//- (icon, title)
			+alloyItem(
				'gidrosuit',
				'Гидрокостюм'
			)
			//- (icon, title)
			+alloyItem(
				'prokat',
				'Прокат снаряжения'
			)
			//- (icon, title)
			+alloyItem(
				'camping',
				'Проживание (палатка)'
			)
			//- (icon, title)
			+alloyItem(
				'food',
				'3-х разовое питание (костровое)'
			)
			//- (icon, title)
			+alloyItem(
				'guide',
				'Услуги гидов-проводников'
			)
		p.alloys-items__label По окончанию маршрута всех участников ждет великолепная жаркая баня!
//info
section.alloy-info
	//-top
	.alloy-info-top
		//item
		.alloy-info-item
			span 3
			| дня
		//item
		.alloy-info-item
			span 6
			| человек
		//item
		.alloy-info-item
			span 120000
			| рублей
	//-bottom
	.alloy-info-bottom
		button(type="button", data-popup='open', data-popup-id="#popup-order" class="btn btn_secondary btn_big") Подать заявку на участие в сплаве 
//attractions
section.alloy-attractions
	h2.h2 Достопримечательности сплава:
	.container
		.row.js-article
			.col-sm-6.col-md-4
				//- articleBlog(img, title, text, className)
				+articleBlog(
					'article-preview-9.jpg',
					'Чемальская ГЭС ',
					'Одно из наиболее посещаемых туристами мест всего Чемальского района. Старая ГЭС 1935 года постройки. В настоящее время используется как музей под открытым небом. Вокруг развита инфраструктура, множество развлечений, сувенирный базар, экстрим-парк.'
				)
			.col-sm-6.col-md-4
				+articleBlog(
					'article-preview-10.jpg',
					'Остров Патмос',
					'Небольшой остров, представляющий собой скалу с отвесными стенами на реке Катунь, Чемальский район, республика Алтай. Расположен на окраине села Чемал. Недалеко от острова располагается точка слияния рек Катунь и Чемал. Единственный путь на остров проходит через подвесной .'
				)
			.col-sm-6.col-md-4
				+articleBlog(
					'article-preview-11.jpg',
					'Остров Эликмонар',
					'Одно из популярнейших туристических мест Чемальского района. Остров расположен посереди реки Катунь на окраине села Чемал. Соединяется с большой землей подвесным пешеходным мостом. На острове расположен женский монастырь и храм Иоанна Богослова. Вход свободный ...'
				)
//events
section.alloy-events
	.alloy-events-map
		h2.h2.alloy-events-map__title Карта сплава
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abf2d8e1a5a46b0a91c255e39002a59058171600e51aacf5b3dbfe2006936ddfc&amp;source=constructor" width="100%" height="790" frameborder="0"></iframe>
	.alloy-events-calendar
		h2.h2 Календарь сплава
		#fullcalendar.fullcalendar.fullcalendar_small
		#popover-wrapper
	button(type="button", data-popup='open', data-popup-id="#popup-order").btn.btn_primary-red.btn_long.btn_big Подать заявку на участие в сплаве
