@mixin supportsFlexbox {
	@supports (display: -webkit-flex) or
	(display: -moz-flex) or
	(display: flex) {
		@content;
	}
}
@mixin positionCenter {
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
}
//NULL BUTTONS
%buttonNull {
	border:0;
	padding:0;
	background:transparent;
	&:focus{
		outline: none;
	}
}
