/*==========================================================================
	 SLICK JS THEME
	 ========================================================================== */

.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	z-index: 17;
	top: 50%;
	display: block;
	width: 30px;
	height: 58px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	@include mq('laptop', 'max') {
		width: 20px;
		height: 48px;
	}
	&:hover{
		opacity: .9;
	}
}
.slick-prev{
	left: -40px;
	background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2060%22%3E%3Cstyle%3E.st0%7Bfill%3A%23d8d8d8%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22path0_stroke%22%20class%3D%22st0%22%20d%3D%22M30.3%2059.7c.4.4%201%20.4%201.4%200%20.4-.4.4-1%200-1.4l-1.4%201.4zM1%2030l-.7-.7c-.2.2-.3.4-.3.7s.1.5.3.7L1%2030zM31.7%201.7c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200l1.4%201.4zm0%2056.6l-30-29-1.4%201.4%2030%2029%201.4-1.4zm-30-27.6l30-29L30.3.3l-30%2029%201.4%201.4z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
	background-size: 100%;
	@include mq('laptop', 'max') {
		left: 0;
	}
}
.slick-next{
	right: -40px;
	background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2060%22%3E%3Cstyle%3E.st0%7Bfill%3A%23d8d8d8%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22path0_stroke%22%20class%3D%22st0%22%20d%3D%22M1.7.3C1.3-.1.7-.1.3.3c-.4.4-.4%201%200%201.4L1.7.3zM31%2030l.7.7c.2-.2.3-.4.3-.7s-.1-.5-.3-.7l-.7.7zM.3%2058.3c-.4.4-.4%201%200%201.4.4.4%201%20.4%201.4%200L.3%2058.3zm0-56.6l30%2029%201.4-1.4-30-29L.3%201.7zm30%2027.6l-30%2029%201.4%201.4%2030-29-1.4-1.4z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
	background-size: 100%;
	@include mq('laptop', 'max') {
		right: 0;
	}
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
	&.slick-active{
		button{
			background-color: $color-main;
		}
	}
	button{
		font-size: 0;
		line-height: 0;
		display: block;
		width: 100%;
		height: 100%;
		padding: 5px;
		cursor: pointer;
		outline: none;
		color: transparent;
		border: 1px solid $color-main;
		border-radius: 50%;
		background: transparent;
	}
}
