.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(23/10)*1rem;
	width:(41.1/23)*1em;
}
.icon-arrow-right {
	font-size:(41/10)*1rem;
	width:(23.1/41)*1em;
}
.icon-calendar {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-camping {
	font-size:(90/10)*1rem;
	width:(131/90)*1em;
}
.icon-email {
	font-size:(18/10)*1rem;
	width:(28.4/18)*1em;
}
.icon-facebook {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
.icon-food {
	font-size:(93/10)*1rem;
	width:(118/93)*1em;
}
.icon-gidrosuit {
	font-size:(112/10)*1rem;
	width:(94/112)*1em;
}
.icon-guide {
	font-size:(103/10)*1rem;
	width:(76/103)*1em;
}
.icon-instagram {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
.icon-menu {
	font-size:(17/10)*1rem;
	width:(18/17)*1em;
}
.icon-next {
	font-size:(8/10)*1rem;
	width:(20/8)*1em;
}
.icon-ok {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
.icon-phone {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-prev {
	font-size:(8/10)*1rem;
	width:(20/8)*1em;
}
.icon-prokat {
	font-size:(110/10)*1rem;
	width:(100/110)*1em;
}
.icon-test {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-vk {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
.icon-weather {
	font-size:(36/10)*1rem;
	width:(35/36)*1em;
}
.icon-weather_1 {
	font-size:(83/10)*1rem;
	width:(100/83)*1em;
}
.icon-weather_10 {
	font-size:(75/10)*1rem;
	width:(117/75)*1em;
}
.icon-weather_11 {
	font-size:(25/10)*1rem;
	width:(39/25)*1em;
}
.icon-weather_2 {
	font-size:(97/10)*1rem;
	width:(97/97)*1em;
}
.icon-weather_3 {
	font-size:(87/10)*1rem;
	width:(101/87)*1em;
}
.icon-weather_4 {
	font-size:(103/10)*1rem;
	width:(101/103)*1em;
}
.icon-weather_5 {
	font-size:(103/10)*1rem;
	width:(100/103)*1em;
}
.icon-weather_6 {
	font-size:(103/10)*1rem;
	width:(121/103)*1em;
}
.icon-weather_7 {
	font-size:(75/10)*1rem;
	width:(110/75)*1em;
}
.icon-weather_8 {
	font-size:(111/10)*1rem;
	width:(100/111)*1em;
}
.icon-weather_9 {
	font-size:(88/10)*1rem;
	width:(101/88)*1em;
}
.icon-youtube {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
