.container.container_smaller
	img(src="uploads/about.jpg", alt="сплав по реке")
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
//gallery
.gallery.gallery_gray
	h2.h2 Фото / Видео
	.gallery-list.js-gallery
		a(href="uploads/gallery-1.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-1-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-2.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-2-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-3.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-3-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-4.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-4-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-5.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-5-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-6.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-6-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-7.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-7-sm.jpg", alt="изображение гор")
		a(href="uploads/gallery-8.jpg", data-fancybox="group").gallery-item
			img(src="uploads/gallery-8-sm.jpg", alt="изображение гор")
	a(href="#" class="btn btn_primary") Смотреть всё
